:root {
	font-family: 'Inconsolata', monospace;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.montserrat,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.inconsolata,
p {
	font-family: 'Inconsolata', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
